# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cache de ferramentas
.vite/
.cache/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Sistema operativo / editores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
